<header>
        <div>
            <h1 style="padding: 5px;">가은</h1>
        </div>
        {% if not user.is_authenticated %}
            <div>
                <a style="text-decoration: none" href="{% url 'account:login' %}">로그인</a>
                <a href="{% url 'account:sign-up' %}">회원가입</a>
            </div>
        {% else %}
            <div>
                <a style="text-decoration: none" href="{% url 'account:logout' %}">로그아웃</a>

            </div>
        {% endif %}
    </header>
